////////////////////////
// Breakpoints Partials
////////////////////////

$sitename--mobile-init: 15em;
$sitname--logo-name-inline: 30em;
$sitname--logo-name-inline-stop: 58em;
$sitname--big-text-center: 65em;
$sponsor-page--inline-badge: 40em;
$sponsor-page--badge-text-padding: 40em;
$primary-nav--inline: 35em;
$huge-action-buttons--two-columns: 40em;
$what-this-about--two-colums: 50em;
$venue--two-columns: 40em;
$view-cod-sponsors--two-column: 30em;
$footer-info-inline: 30em;
