////////////////////////
// Variables Partials
//
// All of your variables should go in this file.
////////////////////////

// Colors
$pittsburgh-gold: #f4b830;
$blue: #1779ba;
$royal-blue: #00335b;
$light-blue: #39a4f6;
$grayish: #60646e;
$red: #b71f21;
$orange: #FFA022;
$brown: #2d241c;
$light-brown: #5b4e42;
$black: #16120d;


$body-background: $black;
$button-color--gray: #ededed;

// Widths
$container-max-width: 50em;

// Padding
$main-content--padding-top-bottom: 2em;

// Margins
$main-content-padding: 1em;
$venue-map-margin: 2em;
