.announcement {
  display: block;
  overflow: hidden;
  color: #C9C9C9;

  & + & {
    margin-top: 1em;
  }

  &__image {
    display: block;
    overflow: hidden;
    padding-right: 1em;
    float: left;

    img {
      max-width: 150px;
      display: block;
    }
  }

  &__day {
    @extend .ubuntu;
    margin-bottom: .5em;
    font-style: italic;
  }

  &__titlegroup {
    @extend %button--highlight;
    display: block;

    * {
      margin: 0;
      font-size: inherit;
      font-family: inherit;
      color: inherit;
      font-weight: inherit;
    }
  }

  // Modifiers
  &.m--has-image {
    .announcement__titlegroup {
      border: none;
    }
  }
}

