.node-news {
  .field-name-field-news-image {
    text-align: center;
    @include breakpoint(40em) {
      float: left;
      margin: 1em;
      margin-bottom: .5em;
    }

    img {
      border: 2px solid #F0F0F0;
    }
  }

  &.node-teaser {
    h2 {
      @extend .pathway-gothic;
      margin: 0;

      a {
        @extend %button--highlight;
      }
    }
  }
}


